.secondHeaderSectionWrapper {
  min-height: 18.75rem;
  background-color: rgb(176, 229, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 0 1rem;
    text-align: center;
  }
  .searchTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sayGoodBuy {
      color: #3e5c75;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .comparePrices {
      font-size: 0.875rem;
      color: #3e5c75;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }
  .leftImgWrapper {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: -46%;
    z-index: -1;
  }
  .rightImgWrapper {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 46%;
    z-index: -1;
  }
}
